/* Start Welcome Page */
@media screen and (max-width:992px) {
    .welcome-pg .text-box-header {
        font-size: 2.625rem !important
    }

    .welcome-pg .text-box-desc {
        font-size: 1rem !important
    }
}

/* End Welcome Page */

/* Start Signup Page */
@media screen and (max-width:1200px) {
    .signup-pg .img-box {
        height: 450px !important;
    }

    body {
        margin:100px;
    }
}

@media screen and (max-width:992px) {
    body{
        margin: -10px 0;
    }
    .signup-pg {
        margin-top: 210px;
    }

    .signup-pg .img-box {
        height: 255px !important;
    }
}

/* End Signup Page */

/* Start Succeed Page */
@media screen and (max-width:992px) {
    .text-box-header {
        font-size: 2rem !important
    }

    .text-box-desc {
        font-size: 1rem !important;
    }
}

/* End Succeed Page */